body {
  font-family: calibri;
  /* font-weight: bold; */
  /* padding: 0;
  margin: 0; */
}

/* -- Assignments [27--29]******************************************************* */

/* Assignment 1 */

/* .parent {
  width: 800px;
  padding: 0;
  margin: auto;
  background-color: #eeeeee;
}
.parent div {
  float: left;
  background-color: #dddddd;
  margin: 15px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.full {
  width: calc(100% - 30px);
}
.three {
  width: calc((100% - 90px)/3);
}
.two {
  width: calc((100% - 60px)/2);
}
.four {
  width: calc((100% - 120px)/4);
}
.clear {
  clear: both;
} */

/* Assignment 2 */

/* div {
  margin: 20px auto;
  width: 300px;
  font-weight: bold;
  font-size: 1rem;
  padding: 20px;
  background-color: rgb(179, 179, 179);
  color: black;
}
.one {
  background-color: rgb(179, 179, 179, 0.1);
}
.two {
  opacity: 0.1;
} */

/* -- Assignments [30--33]******************************************************* */

/* Assignment 1 */

/* div {
  width: 100px;
  height: 100px;
  position: absolute;
}
.green {
  background-color: #009688;
  z-index: 3;
  top: 20px;
  left: 20px;
}
.red {
  background-color: #f44336;
  z-index: 4;
  top: 40px;
  left: 40px;
}
.blue {
  background-color: #03a9f4;
  z-index: 2;
}
.black {
  background-color: #333333;
  top: 20px;
} */

/* Assignment 2 */

/* div {
  width: 400px;
  margin: auto;
  margin-top: 20px;
  background-color: #eeeeee;
  border-width: 2px;
  border-style: solid;
  border-color: #f35b50 #2196f3;
  text-align: center;
  padding: 10px;
  position: relative;
}
div span {
  background-color: #2196f3;
  color: white;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
}
.top-left {
  top: -15px;
  left: -15px;
  border-right: #f35b50 solid 2px;
}
.bottom-left {
  border-right: #f35b50 solid 2px;
  bottom: -15px;
  left: -15px;
}
.top-right {
  border-left: #f35b50 solid 2px;
  top: -15px;
  right: -15px;
}
.bottom-right {
  border-left: #f35b50 solid 2px;
  bottom: -15px;
  right: -15px;
} */

/* Assignment 3 */

/* .parent {
  list-style: none;
  padding: 0;
  margin: auto;
  width: 400px;

}
.parent .child {
  background-color: #eeeeee;
  margin: 20px;
  padding: 5px;
}
.parent .child ol {
  padding-left: 25px;
}
.parent .child ol li, .parent .child ul li {
  background-color: white;
  margin: 5px;
  padding: 5px;
}
.rom {
  list-style-type: upper-roman;
}
.inside {
  list-style-position: inside;
  padding: 0;
} */

/* Assignment 4 */

table {
  width: 700px;
  margin: auto;
}
table caption {
  font-weight: bold;
  margin-bottom: 20px;
}
table thead th {
  background-color: #404040;
  color: white;
  padding: 10px;
}
table tbody tr td {
  background-color: #eeeeee;
  text-align: center;
  padding: 10px;
}
table tbody tr td span {
  color: white;
  padding: 2px 10px;
}
.view {
  background-color: #03a9f4;
  margin-right: 5px;
}
.delete {
  background-color: #e91e63;
}
table img {
  width: 100px;
}