/* -- Assignments [05--08]******************************************************* */

/* Assignment 1 */

/* div {
  width: 500px;
  margin: auto;
  padding: 20px;
  background-color: blueviolet;
  background-color: hsl(271, 76%, 53%);
  background-color: rgb(138, 44, 226);
  background-color: #8a2ce2;
}
.assign-1-shape-2 {
  background-color: rgb(138, 44, 226, 50%);
}
.assign-1-shape-3 {
  background-color: rgb(138, 44, 226, 10%);
} */

/* Assignment 2 */

/* div {
  width: 400px;
  height: 400px;
  background-image: url("../images/css-assignment-5-8.png");
  color: white;
}
.assign-2-shape-1 {
  background-repeat: no-repeat;
}
.assign-2-shape-2 {
  background-repeat: repeat-x;
}
.assign-2-shape-3 {
  background-repeat: repeat-y;
} */

/* Assignment 3 */

/* div {
  width: 400px;
  height: 400px;
  background-image: url("../images/css-assignment-5-8.png");
  color: white;
}
.assign-3-shape-1 {
  background-repeat: no-repeat;
}
.assign-3-shape-2 {
  background-repeat: repeat-y;
  background-position: right;
}
.assign-3-shape-3 {
  background-repeat: repeat-x;
  background-position: bottom;
} */

/* Assignment 4 */

/* div {
  width: 400px;
  height: 400px;
  background-image: url("../images/css-assignment-5-8.png");
}
.assign-4-shape-1 {
  background-size: 80% 80%;
  background-repeat: no-repeat;
}
.assign-4-shape-2 {
  background-size: 80% 80%;
  background-position: right bottom;
  background-repeat: repeat-y;
}
.assign-4-shape-3 {
  background-size: 80% 80%;
  background-position: center bottom;
  background-repeat: repeat-x;
}
.assign-4-shape-4 {
  background-position: right bottom;
  background-repeat: no-repeat;
} */

/* -- Assignments [09--12]******************************************************* */

/* Assignment 1 */

/* div {
  display: inline-block;
  outline: black solid 5px;
  padding: 15px;
  margin: 15px;
  background-color: #D4D4D4;
}
.shape-1 {
  border: red 5px solid;
}
.shape-2 {
  border-width: 5px;
  border-color: blue green;
  border-style: solid;
}
.shape-3 {
  border-width: 5px;
  border-color: red green blue yellow;
  border-style: dotted;
} */

/* Assignment 2 */

div {
  width: 400px;
  background-color: #EEE;
  padding: 20px;
  margin: 20px;
  outline: #eee solid 5px;
  border-left-style: solid;
  border-left-width: 5px;
}
.shape-1 {
  border-left-color: #e91e63;
}
.shape-2 {
  visibility: hidden
}
.shape-3 {
  border-left-color: #009688;
}
