body {
  font-family: calibri;
  /* font-weight: bold; */
  /* padding: 0;
  margin: 0; */
}
*, *::after, *::before {
  box-sizing: border-box;
}

/* -- Assignments [74--77]******************************************************* */

/* Assignment 1 */

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
div {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  border: 3px solid #dc2c84;
  border-top-color: transparent;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
div:hover {
  animation-play-state: paused;
}
div::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border: 3px solid #24a9ff ;
  border-right-color: transparent;
}
div::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border: 3px solid #fca200 ;
  border-bottom-color: transparent;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
} */

/* Assignment 2 */

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
div {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  border: 3px solid #459ed1;
  border-bottom-color: transparent;
  animation-duration: 1s;
}
div::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
  width: 60px;
  height: 60px;
  border: 3px solid #f4af26 ;
  border-bottom-color: transparent;
  animation-duration: 2s;
}
div::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-left: -35px;
  margin-top: -35px;
  border: 3px solid black ;
  border-bottom-color: transparent;
  animation-duration: 3s;
}
div::before, div::after, div {
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
  animation-fill-mode: backwards;
}
div:hover::before, div:hover::after, div:hover {
  animation-play-state: running;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
} */

/* Assignment 3 */

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
span {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  border: 3px solid black;
  border-bottom-color: transparent;
  animation-duration: 1s;
  background-color: #e0e0ea;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
} */

/* -- Assignments [78--82]******************************************************* */

/* Assignment 1 */

/* div.main.red {
  color: red;
} */

/* Assignment 2 */

/* .parent > .child:last-child {
  color: red;
} */

/* Assignment 3 */

/* .baby:only-child {
  color: red;
} */

/* Assignment 4 */

/* body > div[title]:not(div[class="no-need"]) {
  color: red;
} */

/* Assignment 5 */

/* div:not(div[class="no-need"]) div[title="Elzero"]:last-child:not(div[class="no-need"]) {
  color: red;
} */

/* Assignment 6 */

/* div:not(div[class="no-need"]) div:nth-last-of-type(2) {
  color: red;
} */

/* Assignment 7 */

/* h3:nth-of-type(3) + div {
  color: red;
} */

/* Assignment 8 */

/* div :not(h3, div:first-child, div:last-child) {
  color: red;
} */

/* -- Assignments [83--85]******************************************************* */

/* Assignment 1 */

/* @media print {
  .assign-one {
    font-size: 40px;
  }
} */

/* Assignment 2 */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container .product {
  background-color: #eeeeee;
  text-align: center;
  padding: 20px;
}
@media (max-width:767px) {
  .container .product {
    width: calc(100% - 10px);
    margin-bottom: 5px;
  }
  .container .product h3 {
    color: black;
  }
}
@media (min-width:768px) and (max-width:1199px) {
  .container .product {
    width: calc(50% - 10px);
    margin-bottom: 5px;
  }
  .container .product h3 {
    color: red;
  }
}
@media (min-width:1200px) {
  .container .product {
    width: calc(25% - 10px);
    margin-bottom: 5px;
  }
  .container .product h3 {
    color: #2ca69b;
  }
} */

/* Assignment 3 */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container .product {
  background-color: #eeeeee;
  text-align: center;
  padding: 20px;
  transition: .5s;
}
@media (max-width:767px) {
  .container .product {
    width: calc(100% - 10px);
    margin-bottom: 5px;
  }
  .container .product h3 {
    color: black;
  }
}
@media (min-width:768px) and (max-width:1199px) {
  .container .product {
    width: calc((100% / 3) - 10px);
    margin-bottom: 5px;
  }
  .container .product:nth-child(1) {
    width: calc(100% - 10px);
    margin-bottom: 5px;
  }
  .container .product h3 {
    color: red;
  }
}
@media (min-width:1200px) {
  .container .product {
    width: calc((100% / 2) - 10px);
    margin-bottom: 5px;
  }
  .container .product:nth-child(1),
  .container .product:nth-child(4) {
    width: calc(100% - 10px);
    margin-bottom: 5px;
  }
  .container .product h3 {
    color: #2ca69b;
  }
} */

/* -- Assignments [86--88]******************************************************* */

/* Assignment 1 */

/* .center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle-100 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.circle-200 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
} */

/* Assignment 2 */

div {
  background-color: #dddddd;
  padding: 20px;
  width: 500px;
  margin: 40px auto;
  position: relative;
}
div.arrow::before {
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  top: 0;
  left: 0;
}
div.arrow.top::before {
  content: "";
  position: absolute;
  border-bottom-color: #dddddd;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
div.arrow.right::before {
  content: "";
  position: absolute;
  border-left-color: #dddddd;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}
div.arrow.bottom::before {
  content: "";
  position: absolute;
  border-top-color: #dddddd;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
div.arrow.left::before {
  content: "";
  position: absolute;
  border-right-color: #dddddd;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
}