// .box {
//   width: 200px;
//   height: 200px;
//   border-radius: 10px;
//   background-color: #f75590;

//   will-change: filter;

//   transition: filter .2s ease-out;
// }

// .box:hover {
//   filter: drop-shadow(0px 0px 50px #333); // Drop Shadow Filter is Better than box-shadow for Animations
// }

// .main {
//   height: 330px;
//   width: 330px;
//   display: flex;
//   flex-wrap: wrap;
//   .picture-container {
//     border: 1px solid #CCCCCC;
//     height: 150px;
//     margin: 5px;
//     overflow: hidden;
//     width: 150px;

//     img {
//       position: relative;
//       top: 0px;
//       animation-duration: .3s;
//       animation-timing-function: ease-in-out;
//       animation-fill-mode: forwards;
//     }

//     img.slideIn {
//       animation-name: inKeyframes;

//     }

//     img.slideOut {
//       animation-name: outKeyframes;
//     }
//   }
// }

// @keyframes inKeyframes {
//   70% {
//     top: -170px;
//   }

//   100% {
//     top: -150px;
//   }
// }

// @keyframes outKeyframes {
//   70% {
//     top: 20px;
//   }

//   100% {
//     top: 0px;
//   }
// }
// ------------------------------------------- Animating Items Around a Point ------------------------

// .main {
//   width: 250px;
//   height: 250px;
//   margin-left: 30px;
//   display: grid;
//   justify-content: center;
//   align-items: center;

//   .item,
//   .smiley {
//     width: 30px;
//     grid-column: 1;
//     grid-row: 1;
//   }

//   .smiley {
//     position: relative;
//   }

//   .item {
//     animation: rotateAround 6s linear infinite;

//     @for $i from 1 through 7 {
//       &:nth-of-type(#{$i}) {
//         animation-delay: -#{$i}s;
//       }
//     }

//     img {
//       animation: rotate 2s linear infinite;
//     }
//   }
// }

// @keyframes rotateAround {
//   0% {
//     transform: rotate(0) translateX(80px);
//   }

//   100% {
//     transform: rotate(360deg) translateX(80px);
//   }
// }

// @keyframes rotate {
//   0% {
//     transform: rotate(0);
//   }

//   100% {
//     transform: rotate(360deg);
//   }
// }

// ------------------------------------------- Sliding / Scrolling Animation with Infinite Items ------------------------

// .item-group {
//   width: 100px;
//   height: 100px;
//   margin: 5px;
//   border: #EEE solid 1px;

//   overflow: hidden;
//   display: inline-block;

//   @for $i from 1 through 4 {
//     &:nth-of-type(#{$i}) {
//       background-color: rgb(random(255), random(255), random(255));

//       .item {
//         animation-duration: #{0.5 + random()}s;
//         animation-delay: #{0.5 + random()}s;
//       }
//     }
//   }

//   .item {
//     margin-top: 0px;
//     user-select: none;
//     animation: slide ease-in-out infinite;


//     p {
//       font-family: sans-serif;
//       font-weight: bold;
//       font-size: 48px;

//       display: flex;
//       align-items: center;
//       justify-content: center;

//       height: 100px;

//       padding: 0;
//       margin: 0;
//     }
//   }
// }

// @keyframes slide {
//   0% {
//     transform: translateY(0);
//   }

//   50% {
//     transform: translateY(-50%);
//   }

//   100% {
//     transform: translateY(-50%);

//   }
// }

// ------------------------------------------- Looping a CSS Transition ------------------------

// body {
//   background-color: #FFF;
//   margin: 30px;
//   margin-top: 10px;

//   .box {
//     width: 550px;
//     height: 350px;
//     border: 5px black solid;
//     overflow: hidden;
//     background-color: #F2F2F2;
//     margin: auto auto;
//     background-image: url('//www.kirupa.com/images/gray_background.png');

//     .content-container {
//       position: relative;

//       .circle {
//         background-color: #2693FF;
//         border-radius: 75px 75px 75px 75px;
//         height: 150px;
//         margin: 100px auto auto;
//         width: 150px;
//         transition: transform .2s ease-in-out, opacity .2s ease-in-out;

//         &.state-one {
//           opacity: 1;
//           transform: scale(1, 1);
//         }

//         &.state-two {
//           opacity: .5;
//           transform: scale(1.9, 1.9);
//         }
//       }
//     }
//   }
// }

// p {
//   font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
//   font-size: medium;
//   color: #006699;
// }

// ------------------------------------------- Slide Image on Hover ------------------------

// .pictureContainer {
//   height: 150px;
//   width: 150px;
//   overflow: hidden;
// }

// .pictureContainer img {
//   transform: translate3d(0px, 0px, 0px);
//   transition: transform .6s cubic-bezier(.17, .67, .67, 1.43);
// }

// .pictureContainer img:hover {
//   transform: translate3d(0px, -150px, 0px);
// }

// ------------------------------------------- Animating Many Elements Using a Transition ------------------------

// body {
//   background-color: #FFF;
//   margin: 30px;
//   margin-top: 10px;
// }

// .box {
//   width: 550px;
//   height: 350px;
//   border: 5px black solid;
//   overflow: hidden;
//   background-color: #F2F2F2;
// }

// .container {
//   position: relative;
// }

// .circle {
//   transition-timing-function: ease-in-out;
//   position: absolute;
//   width: 100px;
//   height: 100px;
//   border-radius: 50%;
//   background-color: #0066CC;
//   opacity: .5;
// }

// ------------------------------------------- Sliding Background Effect on Link Hover ------------------------

// body {
//   margin: 40px;
//   background-color: #FFEA4C;

//   h1 {
//     font-family: sans-serif;
//     font-weight: bold;
//     font-size: 2.5em;
//     text-decoration: underline;
//     color: #272838;
//   }

//   ul {
//     padding: 0;

//     li {
//       list-style: none;

//       a {
//         font-family: sans-serif;
//         font-size: 1.5em;
//         font-weight: bolder;
//         line-height: 3em;
//         padding: 10px;
//         text-decoration: none;

//         &.bg-slider {
//           background-size: 400% 100%;
//           background-image: linear-gradient(to right, #FFF 0%, #FFF 25%, #272838 25%, #272838 50%,
//               #2738d0 50%,
//               #2738d0 75%,
//               #b1e452 75%,
//               #b1e452 100%);
//           background-position: 0 0;
//           transition: background-position .4s linear, color .2s linear;
//           transition-delay: 0.0s, 0.15s;
//           color: #272838;

//           &:hover {
//             color: #FFF;
//             background-position: 100% 0;
//           }
//         }
//       }

//     }
//   }
// }

// ------------------------------------------- The Falling Snow Effect ------------------------
body {
  background-color: rgb(96, 125, 126);
}

.container {
  position: relative;
  background-color: #1a243f;
  width: 500px;
  height: 450px;
  overflow: hidden;
  margin: 200px;

  img {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    z-index: 1000;
    pointer-events: none;
    width: 30px;
  }
}