* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Samurai";
  src: url("../assets/SamuraiBlast.otf");
}
body {
  font-family: "Roboto Slab", serif;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.65;
  content: "";
  background-size: cover;
  background-image: url(../assets/graveyard.png);
  z-index: -1;
}

.container {
  margin: 20px auto;
  width: 1000px;
}
.container .game-info {
  display: flex;
  color: white;
}
.container .game-info .game-name {
  flex: 1;
}
.container .game-info .category {
  flex: 1;
  text-align: right;
}
.container .game-info .category span {
  text-transform: capitalize;
  color: #fa4a05;
  font-weight: bold;
}
.container .row {
  display: flex;
}
.container .row .hangman-draw {
  flex: 1;
  padding: 20px;
  height: 324px;
}
.container .row .hangman-draw .the-draw {
  width: 100px;
  left: 50%;
  transform: translateX(-50%);
  height: 5px;
  border-bottom: 5px solid #f3d611;
  position: relative;
  height: 284px;
  display: none;
}
.container .row .hangman-draw .the-draw .the-stand {
  position: absolute;
  width: 50%;
  left: 50%;
  height: 100%;
  transform: translateX(-2.5px);
  border-left: 5px solid #f3d611;
  display: none;
}
.container .row .hangman-draw .the-draw .the-hang {
  position: absolute;
  height: 5px;
  background-color: #f3d611;
  width: 120px;
  left: 50%;
  top: 15px;
  display: none;
}
.container .row .hangman-draw .the-draw .the-hang::after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  width: 5px;
  height: 20px;
  background-color: #f3d611;
}
.container .row .hangman-draw .the-draw .the-rope {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px dashed #f3d611;
  position: absolute;
  left: 100px;
  top: 35px;
  transform: translateX(50%);
  display: none;
}
.container .row .hangman-draw .the-draw .the-man .head {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #f3d611;
  position: absolute;
  left: 145px;
  top: 45px;
  display: none;
}
.container .row .hangman-draw .the-draw .the-man .body {
  position: absolute;
  background-color: #f3d611;
  width: 4px;
  height: 110px;
  top: 91px;
  left: 167px;
  display: none;
}
.container .row .hangman-draw .the-draw .the-man .hands {
  display: none;
}
.container .row .hangman-draw .the-draw .the-man .hands:before {
  left: 122px;
  transform: rotate(30deg);
}
.container .row .hangman-draw .the-draw .the-man .hands:after {
  left: 167px;
  transform: rotate(-30deg);
}
.container .row .hangman-draw .the-draw .the-man .hands:before,
.container .row .hangman-draw .the-draw .the-man .hands:after {
  content: "";
  width: 50px;
  position: absolute;
  height: 4px;
  background-color: #f3d611;
  top: 140px;
}
.container .row .hangman-draw .the-draw .the-man .legs {
  display: none;
}
.container .row .hangman-draw .the-draw .the-man .legs:before {
  left: 122px;
  transform: rotate(-30deg);
}
.container .row .hangman-draw .the-draw .the-man .legs:after {
  left: 167px;
  transform: rotate(30deg);
}
.container .row .hangman-draw .the-draw .the-man .legs:before,
.container .row .hangman-draw .the-draw .the-man .legs:after {
  content: "";
  width: 50px;
  position: absolute;
  height: 4px;
  background-color: #f3d611;
  top: 210px;
}
.container .row .letters {
  flex: 1;
  padding: 15px;
  text-align: center;
}
.container .row .letters.finished {
  pointer-events: none;
}
.container .row .letters .letter-box {
  font-family: "Samurai";
  width: 55px;
  height: 55px;
  display: inline-block;
  background-color: #f3d611;
  border: #fa4a05 solid 5px;
  border-radius: 20px;
  color: #222;
  font-size: 24px;
  line-height: 45px;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.container .row .letters .letter-box.clicked {
  background-color: #222;
  opacity: 0.2;
  pointer-events: none;
}
.container hr {
  border: 1px solid #EEE;
}
.container .letters-guess {
  margin: 10px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  min-height: 104px;
}
.container .letters-guess span {
  width: 60px;
  height: 60px;
  font-size: 24px;
  margin-right: 10px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 3px solid #f3d611;
  transition: 0.3s;
  color: orange;
  text-shadow: 1px 1px black;
}
.container .letters-guess span.with-space {
  background: none;
  border-bottom: none;
  position: relative;
}
.container .letters-guess span.with-space:before {
  content: "";
  width: 20px;
  height: 4px;
  background-color: #222;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.pop {
  width: 80%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.pop.good {
  background-color: #03DAC6;
}
.pop.bad {
  background-color: #B00020;
}/*# sourceMappingURL=styles.css.map */