body {
  font-family: calibri;
  /* font-weight: bold; */
  /* padding: 0;
  margin: 0; */
}

/* -- Assignments [34--37]******************************************************* */

/* Assignment 1 */

/* div {
  width: 300px;
  height: 60px;
  margin: 20px auto;
  text-align: center;
  background-color: #eeeeee;
  font-size: 20px;
}
div:empty {
  background-color: red;
} */

/* Assignment 2 */

/* div {
  background-color: #d4d4d4;
  width: 400px;
  margin: auto;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  position: relative;
}
div::before {
  content: "1";
  background-color: red;
  color: white;
  display: block;
  position: absolute;
  padding: 5px;
  width: 20px;
  left: -12.5px;
  top: calc(22.4px - 17.4px);
}
div::first-letter {
  visibility: hidden;
} */

/* Assignment 3 */

/* p {
  background-color: #efefef;
  border-left: solid #e91e63 4px;
  width: 350px;
  margin: 30px auto;
  padding: 10px;
  position: relative;
}
p::before {
  content: attr(data-person);
  background-color: #efefef;
  position: absolute;
  left: -75px;
  top: calc(20px - 15px);
  padding: 5px;
}
p::after {
  content: '';
  border-width: 6px;
  border-style: solid;
  border-color: transparent #e91e63 transparent transparent;
  height: 0;
  width: 0;
  position: absolute;
  top: calc(20px - 6px);
  left: -16px;
} */

/* Assignment 4 */

/* p {
  background-color: #efefef;
  border-right: solid #f44336 4px;
  width: 350px;
  margin: 30px auto;
  padding: 10px;
  position: relative;
  counter-increment: p;
}
p::before {
  content: counter(p);
  background-color: #f44336;
  position: absolute;
  left: -39.2px;
  top: 0;
  text-align: center;
  color: white;
  width: 39.2px;
  height: 39.2px;
  padding-top: calc(39.2px / 2 - 10px);
  box-sizing: border-box;
} */

/* -- Assignments [38--41]******************************************************* */

/* Assignment 1 */

/* div {
  counter-increment: div;
  position: relative;
  background-color: #eeeeee;
  width: 100px;
  height: 100px;
  display: inline-block;
  border-radius: 50%;
  box-shadow: -4px -4px #e91e63, 4px 4px #2196f3;
  margin-right: 20px;
  border: solid 2px;
}
div::before {
  content: counter(div);
  position: absolute;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  left: 40px;
  top: -10px;
}
div::after {
  content: "Element";
  position: absolute;
  left: calc(50px - 27px);
  top: calc(50px - 10px);
} */

/* Assignment 2 */

/* div {
  background-color: #efefef;
  width: 100px;
  height: 100px;
  margin: calc(50vh - 50px) auto auto;
  border-top-left-radius: 10px 21px;
  border-top-right-radius: 47px;
  border-bottom-left-radius: 47px;
  border-bottom-right-radius: 10px 20px;
  box-shadow: 0 0px 9px 0px inset;
} */

/* Assignment 3 */

.cards {
  width: 550px;
  margin: auto;
  position: relative;
}
.cards::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  left: calc(50% - 1px);
  top: 0;
  background-color: #03a9f4;
}
.cards::after {
  content: "Or";
  background-color: #03a9f4;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  color: white;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  background-color: #eeeeee;
  width: 240px;
  text-align: center;
  float: left;
}
.one {
  margin-right: 70px;
}
.card-type {
  background-color: #03a9f4;
  width: 200px;
  margin: 20px auto;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
}
.card-price {
  background-color: #dddddd;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto 20px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clear {
  clear: both;
}