body {
  box-sizing: border-box;
  // background-color: #a6a7ac;
  // color: rgba(255, 0, 0, 0.574);
}



canvas {
  border: 10px solid #333;
}



#parent-2 {
  padding: 100px;
  height: 10000px;
}

#parent-1 {
  padding: 100px;
  margin-top: 500px;
}